    <hgroup class="pull-left">
      <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>{% if site.subtitle %}
      <h2>{{ site.subtitle }}</h2>{% endif %}
    </hgroup>
    <hgroup class="pull-right">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8626066203532506";
        /* KCBlog Header Text Ads */
        google_ad_slot = "7626842896";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    </hgroup>